<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 vs">

        </div>
    </div>
    <div class="row" style="height: 100vh;">
        <div class="col-md-2 vs-left-menu">
            <ul>
                <li>Dashbord</li>
                <li>Server Configuration</li>
                <li>Maintenance</li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12 vs-head-line">
                    <div>
                        <img src="/assets/images/logo.png" height="110" width="110" />
                    </div>
                    <div style="padding-left: 16px;">
                        <h4 class="vs-title">Header Of Project</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 " style="padding-left:0px">
                    <div class="vs-grid-container">
                        <div class="vs-grid-title">Last log</div>
                        <table class="table table-bordered table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">message</th>
                                    <th scope="col">additional</th>
                                    <th scope="col">level</th>
                                    <th scope="col">timestamp</th>
                                    <th scope="col">fileName</th>
                                    <th scope="col">lineNumber</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of logmodel">
                                    <td>{{item.id}}</td>
                                    <td>{{item.message}}</td>
                                    <td>{{item.additional}}</td>
                                    <td>{{item.level}}</td>
                                    <td>{{item.timestamp}}</td>
                                    <td>{{item.fileName}}</td>
                                    <td>{{item.lineNumber}}</td>
                                </tr>


                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--  <div class="row">-->
    <!--    <div class="col-md-12 vs-report-container">-->
    <!--      <div class="vs-box">-->
    <!--        <div class="vs-title">number of log</div>-->
    <!--        <div class="vs-content">12</div>-->
    <!--      </div>-->
    <!--      <div class="vs-box">-->
    <!--        <div class="vs-title">number of log</div>-->
    <!--        <div class="vs-content">12</div>-->
    <!--      </div>-->
    <!--      <div class="vs-box">-->
    <!--        <div class="vs-title">number of log</div>-->
    <!--        <div class="vs-content">12</div>-->
    <!--      </div>-->
    <!--      <div class="vs-box">-->
    <!--        <div class="vs-title">number of log</div>-->
    <!--        <div class="vs-content">12</div>-->
    <!--      </div>-->

    <!--    </div>-->
    <!--  </div>-->




</div>