<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 vs ">
          <div class="vs-application-title">
            SRC Log Manager
          </div>

        </div>
    </div>
    <div class="row" style="height: 100vh;">
        <div class="col-md-2 vs-left-menu">
            <ul>
                <li>Dashbord</li>
                <li>Server Configuration</li>
                <li>Maintenance</li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12 vs-head-line">
                    <div>
                        <img src="/assets/images/logo.png" height="110" width="110" />
                    </div>
                    <div style="padding-left: 16px;">
                        <h4 class="vs-title">Last Trace Project</h4>
                        <small style="    color: #92abcf;">created date : July 2020</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-left:0px">
                    <div class="vs-grid-container">
                        <div class="vs-grid-title">Last log</div>
                        <div style="height: 50vh;overflow: auto;">
                          <table class="table table-bordered table-dark" style="font-size: 14px">
                            <thead>
                            <tr>
                              <th scope="col">Row</th>
<!--                              <th scope="col">id</th>-->
                              <th scope="col">Message</th>
                              <th scope="col">Additional</th>
                              <th scope="col">Level</th>
                              <th scope="col">Timestamp</th>
                              <th scope="col">File Name</th>
                              <th scope="col">Line Number</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of logmodel; let i = index">
                              <td>{{i}}</td>
<!--                              <td>{{item.id}}</td>-->
                              <td>{{item.message}}</td>
                              <td>{{item.additional}}</td>
                              <td>{{item.level}}</td>
                              <td>{{item.timestamp}}</td>
                              <td>{{item.fileName}}</td>
                              <td>{{item.lineNumber}}</td>
                            </tr>


                            </tbody>
                          </table>

                        </div>
                        <nav aria-label="..." style="    padding: 10px;">
                          <ul class="pagination">
                            <li class="page-item disabled">
                              <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
<!--                            <li class="page-item active">-->
<!--                              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>-->
<!--                            </li>-->
<!--                            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                            <li class="page-item">
                              <a class="page-link" href="#">Next</a>
                            </li>
                          </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--  <div class="row">-->
    <!--    <div class="col-md-12 vs-report-container">-->
    <!--      <div class="vs-box">-->
    <!--        <div class="vs-title">number of log</div>-->
    <!--        <div class="vs-content">12</div>-->
    <!--      </div>-->
    <!--      <div class="vs-box">-->
    <!--        <div class="vs-title">number of log</div>-->
    <!--        <div class="vs-content">12</div>-->
    <!--      </div>-->
    <!--      <div class="vs-box">-->
    <!--        <div class="vs-title">number of log</div>-->
    <!--        <div class="vs-content">12</div>-->
    <!--      </div>-->
    <!--      <div class="vs-box">-->
    <!--        <div class="vs-title">number of log</div>-->
    <!--        <div class="vs-content">12</div>-->
    <!--      </div>-->

    <!--    </div>-->
    <!--  </div>-->




</div>
